$crimson: 'Crimson Text', serif;
$open: 'Open Sans', sans-serif;
$primary-color: blue;

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

}

#container {
  position: relative;
}

#sidebar{
	width: 25vw;
	height: 100vh;
	background-color: pink;
	position: absolute;

	z-index: 1;
	top: 0;
	left: 0;	
	nav{
		width: 100%;
		height: 100%;
		background-color: #00E0C3;
		position: relative;			
	}

	.content{
		padding: 4.5vw;
		line-height: 1.25rem;
		font-size: 1rem;
		color: white;

		header, section, .contact, .follow{
			padding-bottom: 5vh;
		}

		header{
			img{
				width: 33.3%;
				display: inline-block;
				text-align: left;
				
			}
			h1{
				font-family: $crimson;
				font-weight: 700;
				font-style: italic;
				font-size: 2.5rem;
				margin-bottom: 1vh;
				margin-top: 3vh;
				// line-height: 3rem;
				// margin-left: 4vw;
			}
			h2{
				font-family: $open;
				font-weight: 700;
				font-weight: 300;
				text-transform: uppercase;
				font-size: 1rem;
			}
			
		}

		// header{
		// 	img{
		// 		width: 3vw;
		// 		float: left;
		// 	}
		// 	h1{
		// 		font-family: $crimson;
		// 		font-weight: 700;
		// 		font-style: italic;
		// 		font-size: 2rem;
		// 		/* margin-bottom: 4vh; */
		// 		line-height: 3rem;
		// 		margin-left: 4vw;
		// 	}
		// 	h2{
		// 		font-family: $open;
		// 		font-weight: 700;
		// 		clear: both;
		// 	}
			
		// }

		section{
			p{
				font-family: $open;
				font-weight: 400;
			}
			
		}

		footer{
			h1{
				font-weight: 700;
				font-family: $crimson;
				font-style: italic;
				font-size: 1.25rem;
				margin-bottom: 1.25vh;
			}
			p{
				font-family: $open;
				font-weight: 400;
			}
		}
	}

	.follow{

		li{
			display: inline-block;
			opacity: 1;
			&:hover{
				opacity: 0.7;
				-webkit-transition: opacity .25s ease-in;
				   -moz-transition: opacity .25s ease-in;
				    -ms-transition: opacity .25s ease-in;
				     -o-transition: opacity .25s ease-in;
				        transition: opacity .25s ease-in;
			}
		}

		img{
			height: 2vw;
		}
		
	}

	.wave{
		position: absolute;		
		background: rgba(200,255,255,0.0) url('../img/wave.svg') 0 0 repeat-y;
		background-size: 100%;
		top: 0;
		right: -2vw;
		z-index: 1;
		width: 2vw;
		height: 100vh;
	}

}

main{
	width: 75vw;
	height: 100vh;
	background-color: lightcoral;
	// margin-left: 20vw;
	position: absolute;

	top: 0;
	right: 0;

}

.slider-text{
	h1{
		text-transform: uppercase;
		font-family: $open;
		font-weight: 700;
		font-size: 2rem;
		margin-bottom: 2vh;
		color: #FF638F;
	}

	.tags{
		
		font-size: 0.8rem;
		font-family: $open;
		margin-bottom: 2vh;
	}
	p{
		font-family: $crimson;
		font-style: italic;
		font-weight: 400;
		font-size: 1.25rem;
		line-height: 1.25rem;
	}
}

.layer3 {
  // position: relative;
  // bottom: 0;
  // right: 0;
  // width: 100vw;
  // background-color: rgba(255,200,255,0.9);
  // height: 100vh;
  // overflow: hidden;
  // z-index: 2;

  footer{
  	position: absolute;
  	z-index: 2;
  	bottom: 4vh;
  	right: 30vw;
  	background-color: transparent;
  	button{
  		border-radius: 4vw;
  		background-color: #BBFFF4;
  		margin: 0 0.5vw 0 0.5vw;
  		height: 4vw;
  		width: 4vw;
  		border: none;
  		color: white;
  		font-size: 2rem;
  		font-weight: 300;
  		font-family: $open;
  		cursor: pointer;
  		opacity: 1;
  		&:hover{
  			opacity: 0.7;
  			-webkit-transition: opacity .25s ease-in;
  			   -moz-transition: opacity .25s ease-in;
  			    -ms-transition: opacity .25s ease-in;
  			     -o-transition: opacity .25s ease-in;
  			        transition: opacity .25s ease-in;
  		}
   	}
  }

  .cv-div{
  	position: absolute;
  	z-index: 2;
  	top: 4.5vw;
  	right: 4.5vw;
  	background-color: transparent;

  }
}

.bullet{
	position: absolute;
	z-index: 2;
	bottom: 52vh;
	right: 18vw;
	background-color: transparent;

	li{
		display: inline-block;
		border-radius: 100%;
		height: 0.5vw;
		width: 0.5vw;
		background-color: white;
		margin: 0 1vw 0 1vw;
		cursor: pointer;
		-webkit-transition: all .25s ease-in;
		   -moz-transition: all .25s ease-in;
		    -ms-transition: all .25s ease-in;
		     -o-transition: all .25s ease-in;
		        transition: all .25s ease-in;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
		    -ms-transform: scale(1);
		     -o-transform: scale(1);
		        transform: scale(1);
		        &:hover{
		        	background-color: #00E0C3;
		        	border-radius: 100%;
		        	-webkit-transform: scale(1.5);
		        	   -moz-transform: scale(1.5);
		        	    -ms-transform: scale(1.5);
		        	     -o-transform: scale(1.5);
		        	        transform: scale(1.5);
		        }
	}
}

.cv{
	height: 5.5vw;
	width: 5.5vw;
	background-color: #FF638F;
	border-radius: 50%;
	border: none;
	color: white;
	font-size: 2rem;
	font-family: $open;
	font-weight: 300;
	cursor: pointer;
	opacity: 1;
	-webkit-transform: scale(1);
	   -moz-transform: scale(1);
	    -ms-transform: scale(1);
	     -o-transform: scale(1);
	        transform: scale(1);
	&:hover{
		opacity: 0.7;
		-webkit-transform: scale(1.2);
		   -moz-transform: scale(1.2);
		    -ms-transform: scale(1.2);
		     -o-transform: scale(1.2);
		        transform: scale(1.2);
		-webkit-transition: transform .25s ease-in;
		   -moz-transition: transform .25s ease-in;
		    -ms-transition: transform .25s ease-in;
		     -o-transition: transform .25s ease-in;
		        transition: transform .25s ease-in;
	}
}

